<li class="nav-item">
    <a class="nav-link text-decoration-none disabled ps-0" href="#" id="linkGalleryShowAll" aria-current="page"
        onclick="loadAllGalleries(this);">Show all</a>
</li>
{{#each data}}
<li class="nav-item">
    <a class="nav-link text-decoration-none ps-0" href="#" aria-current="page"
        onclick="loadGalleryByCategory('{{id}}',this)">{{name}}</a>
</li>
{{/each}}