<section class="container separate-line"></section>
<section class="container-fluid">
    {{#each data}}
    <section class="container py-5">
        <h1>{{name}}</h1>
        <div class="text-black-50">
            {{{description}}}
        </div>
    </section>
    {{/each}}
</section>